allow hal_tv_cec_default cec_device:chr_file { ioctl open read write };
dontaudit hal_tv_cec_default default_prop:file { getattr map open read };
dontaudit hal_tv_cec_default hdmi_config_prop:file { getattr map open read };
