subsystem usbmisc
    devname uevent_devname

/dev/mali0	0666 system graphics
/dev/ion	0666 system graphics
/dev/graphics/fb0	0666 system graphics
/dev/cec0	0666 system graphics
/dev/i2c-0	0666 system system

/sys/class/leds/sei610\:red\:power	brightness	0666 system system
/sys/class/leds/sei610\:blue\:bt	brightness	0666 system system
