<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (C) 2022 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="android.app.fgstesthelper">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application android:label="Android Fgs Test Helper">

        <service android:name="android.app.fgstesthelper.LocalForegroundServiceNoType"
             android:exported="true">
        </service>

        <service android:name="android.app.fgstesthelper.LocalForegroundServiceAllTypes"
             android:foregroundServiceType="dataSync|mediaPlayback|phoneCall|location|connectedDevice|mediaProjection|camera|microphone|health|remoteMessaging|systemExempted|specialUse"
             android:exported="true">
             <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                 android:value="foo" />
        </service>

        <!-- Mock dialer activity for the ROLE_DIALER -->
        <activity android:name="android.app.fgstesthelper.MockDialerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <!-- Mock in call service for the ROLE_DIALER -->
        <service android:name="android.app.fgstesthelper.MockInCallService"
            android:permission="android.permission.BIND_INCALL_SERVICE"
            android:exported="true">
            <meta-data android:name="android.telecom.IN_CALL_SERVICE_UI" android:value="true" />
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_CAR_MODE_UI"
                android:value="false" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>
    </application>

</manifest>
